@use "globals";

body {
	margin: 0;

	background-color: globals.$color-background;
	text-rendering: optimizeLegibility;

	overflow-x: hidden;

	color: globals.$color-text-primary;
	font-family: "Jost", sans-serif;
}

.page {
	box-sizing: border-box;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;

	width: 76vw;
	height: 74vh;

	@include globals.default_background;

	border-radius: 22px;
	overflow: hidden;

	box-shadow: 0px 3px 14px rgba(globals.$color-text-primary, 33%);
}

.page:not(.Home) {
	padding: 115px 211px 0px 211px;

	@include globals.flex-column;
}

@media only screen and (max-width: 600px) {
	.page:not(.Home) {
		padding: 0 8vw;
		padding-top: 122px;
	}
}

.page > .page-return-container {
	width: 100%;
}

.disabledLink {
	cursor: not-allowed;

	opacity: 0.4;
}

// Custom scrollbar
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
	background-color: globals.$color-accent-secondary;
	border-radius: 12px;
}
