$color-main: #000814;
$color-secondary: #001d3d;
$color-accent-primary: #ffd60a;
$color-text-primary: #fefdfd;

// FONT WEIGHT CONSTANTS (Though most if not all fonts are variable weight)
$font-weight__thin: 100;
$font-weight__extra-light: 200;
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__semi-bold: 600;
$font-weight__bold: 700;
$font-weight__extra-bold: 800;
$font-weight__black: 900;