@use "globals.scss";

.navbar {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 100;

	width: 100vw;
	height: 62px;

	display: flex;
}

.navbar > .toolbar-container {
	// STICK RIGHT
	margin-left: auto;
	box-sizing: border-box;
	padding-right: 21px;

	.login-container {
		height: 100%;

		display: flex;
		align-items: center;
	}
	.inner-login-container {
		height: 28px;

		display: flex;
		flex-direction: row;

		span > a {
			font-family: "Jost", sans-serif;
			font-size: 20px;
			color: globals.$color-text-primary;

			text-transform: lowercase;
			text-decoration: none;
		}

		span.center-border {
			margin: 0 14px;
			width: 2px;

			background-color: globals.$color-accent-primary;
		}
	}
}
