@use "globals";

.navbar {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 100;

	width: 100vw;
	height: 62px;

	display: flex;
}

.navbar > .toolbar-container {
	// STICK RIGHT
	margin-left: auto;
	box-sizing: border-box;
	padding-right: 21px;

	.login-container {
		height: 100%;

		display: flex;
		align-items: center;
	}

	span > a {
		font-family: inherit;
		font-size: 20px;
		color: inherit;

		text-transform: lowercase;
		text-decoration: none;
	}
}

.navbar .user-container {
	@include globals.flex-row;

	height: 100%;

	.icon-container {
		width: 20px;
		padding-right: 12px;

		svg {
			width: 100%;
			fill: globals.$color-text-primary;
		}
	}

	.icon-container,
	.username-container {
		display: flex;

		align-items: center;
	}

	.tag {
		font-size: 12px;
		font-weight: globals.$font-weight__light;
	}

	.username {
		font-size: 20px;
		font-weight: globals.$font-weight__medium;

		border-bottom: 2px solid globals.$color-accent-primary;
	}
}