@use "../globals.scss";

.page.Home {
	.background-container {
		width: 100%;
		height: max-content;

		display: flex;
		flex-wrap: wrap;

		position: absolute;
		top: 50%;

		transform: translateY(-50%);
	}

	.cell {
		background-color: #fefdfd;

		position: absolute;
		top: 0;
		left: 0;
	}

	.mainLinksOuterContainer {
		height: 100%;
		width: 380px;

		margin-left: 218px;

		display: flex;
		align-items: center;
	}
	.mainLinksContainer {
		height: 140px;
		margin-left: 38px;

		position: relative;

		display: flex;
		flex-direction: column;

		border-left: 4px solid globals.$color-text-primary;
		box-sizing: border-box;
	}

	.outer-link-container {
		display: flex;
		flex-direction: row;
	}

	.outer-link-container > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.icon-container {
		width: 53px;
	}

	.icon-container > svg {
		display: block;
	}

	.link {
		color: globals.$color-text-primary;

		font-family: "Jost", sans-serif;
		font-weight: 400;

		font-size: 29px;

		text-decoration: none;
		text-transform: lowercase;

		flex: 1;
	}
}
