@use "../globals";

.page.Home {
	width: 76vw;
	height: 74vh;
}

.name-card {
    width: fit-content;
    height: 130px;

    display: flex;
    flex-direction: row;
    gap: 27px;

    align-items: center;

    .profile-picture-container {
        height: fit-content;
    }

    .profile-picture-container img {
        object-fit: contain;
        width: 100%;
        max-width: 116px;
        max-height: 116px;

        border-radius: 11px;
        overflow: hidden;

        box-shadow: -3px 3px 6px globals.$color-shadow-default;
    }

    .name {
        color: globals.$color-text-primary;
        font-weight: globals.$font-weight__medium;
        font-size: 90px;

        text-transform: uppercase;
    }
}

.bullet-points {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .bullet-point {
        display: flex;
        flex-direction: row;
    align-items: center;

        gap: 40px;

        .line-container {
            width: 25px;
            height: 5px;

            background-color: globals.$color-accent-primary;
        }

        .text {
            font-size: 26px;   
            font-weight: globals.$font-weight__medium;
        }
    }
}

.corner-links {
    height: 32px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;

    svg {
        fill: globals.$color-accent-primary;
    }
}

// Hide mobile only corner links
.column.right .corner-links {
    display: none;
}

.interests, .leaderboards {
    display: flex;
    flex-direction: column;

    .top-text {
        font-size: 25px;
        font-weight: globals.$font-weight__medium;
    }

    .line-container {
        width: 100%;
        height: 6px;

        background-color: globals.$color-text-primary;
    }

    .content .column {
        justify-content: start;
    }

    .content span {
        font-size: 24px;
        font-weight: globals.$font-weight__medium;
    }
}

.interests {
    width: 90%;
    min-width: 438px;
    height: 152px;
}

.leaderboards {
    width: 84%;
    min-width: 406px;

    .column.right {
        align-items: flex-start;
    }
}

.leaderboards .entry {
    display: flex;
    flex-direction: row;

    align-items: center;

    .number-container {
        min-width: 22px;
    }

    .dot-container {
        width: 8px;
        height: 8px;

        margin: 0 5px;

        border-radius: 50%;

        background-color: globals.$color-accent-primary;
    }

    span {
        text-align: left;
        font-weight: globals.$font-weight__semi_bold;
    }
}

@media only screen and (max-width: globals.$mobile-max-width) {
    $column-gap: 66px;

    .page.Home {
        width: 100%;
        height: 100%;

        padding: 90px 17px 0px 17px;

        overflow: scroll;

        backdrop-filter: none;
        background: none;
        box-shadow: none;
    }

    .page.Home > .twin-columns {
        // height: 100%;
        gap: $column-gap;
    }
    .page.Home > .twin-columns > .column.right {
        gap: $column-gap;
    }

    .page.Home > .twin-columns > .column {
        height: max-content;
        flex: content;

        box-sizing: border-box;
    }

    .page.Home > .twin-columns > .column.left {
        gap: 56px;
    }

    .page.Home > .twin-columns > .column.left,
    .interests, .leaderboards {
        justify-content: start !important;

        @include globals.default_background;
        box-shadow: 0px 3px 14px globals.$color-shadow-default;
        border-radius: 22px;

        box-sizing: border-box;

        padding: 20px 24px;
    }
    .column.left .corner-links {
        display: none;
    }
    .name-card {
        gap: 16px;
    }

    .interests {
        width: 100%;
        height: fit-content;
        min-width: 0px;
    }

    .leaderboards {
        width: 100%;
        min-width: 0px;
    }

    .top-text {
        text-align: center;
    }

    .column.right .corner-links {
        display: flex;

        width: 100%;
        height: 108px;
        justify-content: center;
    }
}