@use "../globals";

.page.Mail {
	box-sizing: border-box;
	padding: 0 211px;
	padding-top: 115px;

	display: flex;
	flex-direction: column;

	font-family: "Jost", sans-serif;
	color: globals.$color-text-primary;
}

.form-input.text-input,
.form-input.textarea-input {
	.input-title {
		font-size: 1.5rem;
		font-weight: globals.$font-weight__medium;

		text-shadow: -1px 1px 10px rgba(globals.$color-text-primary, 0.3);
	}

	input, textarea {
		background: none;
		border: none;
		outline: none;
		padding: 8px 0;

		font-size: 1.2rem;

		border-bottom: 2px solid globals.$color-accent-primary;
		color: globals.$color-text-primary;
		font-family: inherit;
	}

	textarea {
		height: 120px;
		resize: none;
	}
}

.form-input.submit-input input {
	width: 85px;
	height: 40px;

	background: none;
	border: none;
	outline: none;

	background-color: globals.$color-secondary;
	color: globals.$color-accent-primary;

	font-family: inherit;
	font-size: 1.12rem;
	font-weight: globals.$font-weight__medium;

	border-radius: 6px;

	transition: background-color 125ms ease-in-out, color 125ms ease-in-out;

	&:hover {
		background-color: globals.$color-accent-primary;
		color: globals.$color-main;
	}
}

.form-container {
	margin-top: 42px;
}
.form-container .form-input {
	display: flex;
	flex-direction: column;
}
.form-container .form-input:not(:first-child) {
	margin-top: 24px;
}