@use "../globals";

.page.Self {
	.row-container {
		display: flex;
		flex-direction: row;
		align-items: center;

		.bullet-row-container {
			@include globals.flex-row;

			align-items: center;
		}

		.bullet-row-container .dot-container {
			width: 8px;
			height: 8px;

			border-radius: 100%;

			background-color: globals.$color-accent-primary;

			margin: 0px calc((55px - 8px) / 2);
		}

		.bullet-row-container .line-container {
			width: 21px;
			height: 4px;

			background-color: globals.$color-accent-primary;

			// Maybe get rid of this calc??? and just use a fucking container for crying out loud
			margin: 0px calc((55px - 21px) / 2);
		}

		.bullet-row-container:not(:last-child) {
			margin-bottom: 2px;
		}

		.left,
		.right {
			@include globals.flex-column;
		}

		// This might not be the best solution
		// to make all children to stick to the right
		// please find a better solution
		.right {
			text-align: right;
			margin-left: auto;
		}

		.right .bullet-row-container {
			flex-direction: row-reverse;
		}
	}

	.text-container {
		font-size: 27px;

		.light {
			font-weight: globals.$font-weight__light;
		}

		.medium {
			font-weight: globals.$font-weight__medium;
		}
	}

	.main-info {
		margin-top: 43px;

		.name {
			font-size: 102px;
			font-weight: globals.$font-weight__regular;

			margin: 0;
		}

		.right {
			align-items: center;
		}
	}

	.likes-dislikes {
		margin-top: 100px;

		.subheading {
			font-size: 40px;
			font-weight: globals.$font-weight__medium;
		}

		.right {
			height: 100%;
		}
	}

	@media only screen and (max-width: 600px) {
		.row-container {
			flex-direction: column;
			align-items: baseline;

			.bullet-row-container .dot-container {
				margin-left: 0px;
			}
		}

		.line-container {
			margin-left: 0 !important;
		}

		.main-info {
			margin-top: 26px;
		}

		.main-info .right {
			padding: 45px 0;

			text-align: left;
		}

		.likes-dislikes {
			margin-top: 0px;

			.right {
				text-align: left;
				margin-left: 0px;
			}

			.right .bullet-row-container {
				flex-direction: row;
			}
		}
	}
}
